.main {
    margin-left: 10%;
    margin-right: 10%;
}

.user {
    background-color: antiquewhite;
}

.icon {
    transform: scale(1.5);
    margin: 10px 10px 10px 10px ;
    display: inline-flex;
    vertical-align: middle;
}